<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                  <ion-img src="/assets/eminem.jpg"></ion-img>
                  <ion-card-title>Rap God</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-icon name="tablet-portrait"></ion-icon>: 8861747109<br>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-img src="/assets/cristiano.jpg"></ion-img>
                  <ion-card-title>Cristiano</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-icon name="tablet-portrait"></ion-icon>: 8861747109<br>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-img src="/assets/modi.jpg"></ion-img>
                  <ion-card-title>Modi</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-icon name="tablet-portrait"></ion-icon>: 8861747109<br>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
        </ion-slide>
      </ion-slides>
</ion-content>
